# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\github\Model-Building-in-Mathematical-Programming\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
